services:
  base:
    build:
      context: .
      dockerfile: Dockerfile-base
      args:
        NETWORK: ${NETWORK}
    image: kasuyamofu/smtpbook-base:latest

  postfix:
    build:
      context: .
      dockerfile: Dockerfile-postfix
      args:
        NETWORK: ${NETWORK}
    depends_on: 
      - base
    image: kasuyamofu/smtpbook-postfix:latest

  dovecot:
    build:
      context: .
      dockerfile: Dockerfile-dovecot
    depends_on: 
      - postfix
    image: kasuyamofu/smtpbook-dovecot:latest

  pdns:
    build:
      context: .
      dockerfile: Dockerfile-pdns
    depends_on:
      - base
    image: kasuyamofu/smtpbook-pdns:latest

  rspamd:
    build:
      context: .
      dockerfile: Dockerfile-rspamd
      args:
        NETWORK: ${NETWORK}
    depends_on:
      - postfix
    image: kasuyamofu/smtpbook-rspamd:latest

  proxy:
    build:
      context: .
      dockerfile: Dockerfile-proxy
    image: kasuyamofu/smtpbook-proxy:latest
